:root {
  --color-light: #000;
  --background-light: #fafafc;
  --color-dark: #faebe0;
  --background-dark: #1e1e38;
}

[data-theme='light'] {
  --text-color: var(--color-light);
  --background-color: var(--background-light);
}

[data-theme='dark'] {
  --text-color: var(--color-dark);
  --background-color: var(--background-dark);
}

.App {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
  text-align: center;
}
